<div class="content title">
  Headphones or Earplugs
</div>

<div class="content">
  Its important that you hear the environment while walking, make sure that you volume isn't to loud.
  <br>
  If you have a hard time getting a good mix between the environment and the audio you might want to take off one of your earpieces.
</div>

<div class="content flex gt-buttons">
  {{#link-to "guide.settings"}}PREV{{/link-to}}
  {{#link-to "walks"}}WALKS{{/link-to}}
</div>
