<div class="content title">
  Mobile Settings
</div>

<div class="content">
  Make sure that your audio and GPS are on.
  To find your GPS setting on iOS	go to:
  <span class="code">
    Settings > Privacy > Location Services
  </span>
  <br>
  and set your Safari Websites setting to While Using.
  on Android go to:
  <span class="code">
    Settings > Personal > Location
  </span>
</div>

<div class="content flex gt-buttons">
  <div></div>
  {{#link-to "guide.headphones"}}NEXT{{/link-to}}
</div>
